.loading_box {
  /* background-color: rgba(0, 0, 0, 0.7); */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 6px dotted #409eff;
  border-color: transparent transparent #409eff #409eff;
  animation: roate-loading 1.5s linear infinite;
}
@keyframes roate-loading {
  0% {
    rotate: 0deg;
  }
  80% {
    rotate: 260deg;
  }
  100% {
    rotate: 360deg;
  }
}
.loading_text {
  font-size: 12px;
  margin-top: 10px;
  color: #409eff;
}
