:root {
  --theme-color: #000;
  color: #000;
  /* 被选中和鼠标经过的侧边菜单的字体颜色 */
  --menu-item-active: #339ff8;
  /* 当前选中的子菜单背景色 */
  --menu-item-active-bgc: rgba(73, 166, 242, 0.1);
  /* 侧边菜单每项的高度 */
  --menu-item-height: 40px;
  /* 头部和侧边栏的背景色的颜色 */
  --container-bgc: #fff;
  /* 鼠标经过时的颜色 */
  --hover-backgroundColor: #eee;
  /* 主体部分的背景颜色 */
  --container-main-bgc: #eceff4;
}

:root[theme='dark'] {
  --theme-color: #fff;
  color: #fff;
  /* 头部和侧边栏的背景色的颜色 */
  --container-bgc: #000;
  /* 当前选中的子菜单背景色 */
  --menu-item-active-bgc: rgb(36, 35, 35);
  /* 鼠标经过时的颜色 */
  --hover-backgroundColor: rgb(66, 65, 65);
  /* 主体部分的背景颜色 */
  --container-main-bgc: rgb(68, 67, 67);
}
