* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
#app {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  /* 主体部分的背景颜色 */
  --container-main-bgc: #eceff4;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}
