.el-menu {
  border-right: none;
}
.el-menu-item,
.el-sub-menu__title {
  font-size: 1rem;
}

.el-menu-item,
.el-sub-menu__title,
.el-sub-menu .el-menu-item {
  height: 4.5rem;
  line-height: 4.5rem;
}
.el-menu--collapse {
  width: 5vw;
}
.aside_menu:not(.el-menu--collapse) {
  width: 15vw;
}
